/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'averta';
    src: local("averta"), url(assets/fonts/Averta-Regular.otf) format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'averta', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
    padding: 2rem;
    flex-wrap: wrap;
    &.card-row{
        gap: 2rem;
        flex-direction: row;
        // gap: 2rem;
        justify-content: space-between;

    }
    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem; 
    }
}
